# wrangler.toml
# Configuration file for Cloudflare Workers

main = ".worker-next/index.mjs"
name = "my-app"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat"]
experimental_assets = { directory = ".worker-next/assets", binding = "ASSETS" }

type = "javascript"

# https://github.com/cloudflare/wrangler-legacy/issues/209#issuecomment-541654484

# https://stackoverflow.com/questions/76347902/should-i-commit-my-wrangler-toml-file-with-kv-namespace-values-present

# https://developers.cloudflare.com/workers/frameworks/framework-guides/nextjs/

# https://developers.cloudflare.com/kv/concepts/kv-namespaces/

[[kv_namespaces]]
binding = "NEXT_CACHE_WORKERS_KV"
id = " ***YOUR-CLOUDFLARE-KV-NAMESPACES-ID*** "

# Add other kv_namespaces here if needed
