/* styles/ChatInput.module.css */

.inputContainer {
  display: flex;
  flex-wrap: wrap; /* Allow elements to wrap into multiple rows */
  gap: 4px;
  margin-top: 1px;
}

.input {
  width: 100%; /* Full width within its row */
  padding: 8px 12px;
  color: white;
  background-color: #005C4B;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none; /* Prevent resizing of textarea */
  overflow-wrap: break-word; /* Handle long text wrapping */
  word-wrap: break-word; /* Break long words */
  height: auto; /* Allow height to adjust dynamically */
  min-height: 30px; /* Minimum height */
}

.sendButton {
  padding: 8px 12px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sendButton:hover {
  background-color: #2196f3;
}
