/* File: styles/components/organisms/ChatInput.module.css */

.inputContainer {
  display: flex;
  align-items: center;
  gap: 8px; /* Adjust the gap between the elements */
  width: 100%; /* Ensure full width of the container */
}

.input {
  flex-grow: 1; /* Allow textarea to take remaining space */
  padding: 8px 12px;
  color: white;
  background-color: #005C4B;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
  height: auto;
  min-height: 30px;
}

.sendButton {
  padding: 8px 12px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sendButton:hover {
  background-color: #2196f3;
}
