/* File: styles/components/atoms/Notification.module.css */

.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px 20px;
    border-radius: 5px;
    color: #fff;
    z-index: 1000;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .info {
    background-color: #2f86eb;
  }
  
  .error {
    background-color: #e02f2f;
  }
  
  .warning {
    background-color: #e0a32f;
  }
  
  .closeButton {
    background: none;
    border: none;
    color: #fff;
    margin-left: 15px;
    font-size: 20px;
    cursor: pointer;
  }
  