/* Base styles for the SpeechTest component */
.speechTest {
    padding: 0px;
  }
  
  .speechTest.light {
    background-color: transparent; /* Make background transparent */
    color: black;
  }
  
  .speechTest.dark {
    background-color: transparent; /* Make background transparent */
    color: white;
  }
  
  .textarea {
    width: 100%;
    padding: 0px;
    margin-top: 0px;
    border-radius: 0px;
  }
  
  .textarea.light {
    background-color: rgba(255, 255, 255, 0.7); /* Make background semi-transparent */
    color: black;
  }
  
  .textarea.dark {
    background-color: rgba(0, 0, 0, 0.7); /* Make background semi-transparent */
    color: white;
  }
  
  /* Define a class for the button instead of using the global button selector */
  .toggleButton {
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .toggleButton.light {
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    color: white;
  }
  
  .toggleButton.dark {
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent background */
    color: black;
  }
  