/* File: styles/components/atoms/SpeechTest.module.css */

.speechTest {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toggleButton {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

/* Green background for Start Listening */
.startButton {
  background-color: rgba(0, 235, 40, 0.25);
  color: white;
}

/* Red background for Stop Listening */
.stopButton {
  background-color: rgba(235, 0, 40, 0.25);
  color: white;
}

.textarea {
  resize: none;
  overflow-x: auto; /* Allow horizontal scrolling */
  white-space: nowrap; /* Ensure text stays on one line */
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  scroll-behavior: smooth; /* Smooth scrolling */
}

.textarea::-webkit-scrollbar {
  height: 5px; /* Make the scrollbar smaller */
}

.textarea::-webkit-scrollbar-thumb {
  background-color: #888;
}

.textarea::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.dark {
  background-color: #333;
  color: white;
}

.light {
  background-color: #fff;
  color: black;
}
