/* src/components/VideoStream.module.css */

.video {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 200px;
  height: 150px;
  border: 2px solid #E62B1E;
  border-radius: 10px;
  background-color: #000;
  z-index: 3;
  transition: opacity 0.3s ease; /* Optional: for smooth hiding */
}

.hidden {
  display: none;
  /* Alternatively, you can use opacity for a fade-out effect */
  /* opacity: 0; */
}
