/* src/components/VideoStream.module.css */

.video {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 200px;
    height: 150px;
    border: 2px solid #E62B1E;
    border-radius: 10px;
    background-color: #000;
  }
  