/* File: styles/LeftPanel.module.css */

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Placeholder for dynamic loading */
.emptyPlaceholder {
  width: 100%;
  height: 90vh;
  display: flex;
  opacity: 0;
  visibility: hidden;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill; /* Changes from `cover` to `fill` to allow resizing */
  z-index: -2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.videoStream,
.videoStreamHidden {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.videoStreamHidden {
  display: none;
}

/* Stacked Layout Styles */
.toolsLayer {
  position: absolute;
  top: 20px;
  left: 20px;
  width: calc(100% - 40px);
  max-width: 600px;
  z-index: 2;
  display: flex;
  padding: 0px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chatLayer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: calc(100% - 40px);
  max-width: 600px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Desktop view (above 1024px) */
@media (min-width: 1024px) {
  .container {
    width: 100%; /* Full width */
    height: 100%; /* Full height */
  }
}

/* Tablet view (768px to 1024px) */
@media (max-width: 1024px) and (min-width: 768px) {
  .container {
    width: 100%; /* Full width for tablet view */
    height: 100vh; /* Full height */
  }

  .toolsLayer, .chatLayer {
    max-width: 100%; /* Expand layers to fit the container width */
  }
}

/* Mobile view (below 768px) */
@media (max-width: 767px) {
  .container {
    width: 100%; /* Full width for mobile */
    height: auto; /* Auto height */
    flex-direction: column; /* Stack elements vertically */
  }

  .videoStream, .videoStreamHidden {
    height: 50%; /* Half height for the video stream */
  }

  .toolsLayer, .chatLayer {
    max-width: 100%; /* Expand to fit container width */
    border-radius: 0; /* Remove border radius */
  }
}

/* Small mobile devices (below 480px) */
@media (max-width: 480px) {
  .container {
    height: auto; /* Auto height for small screens */
  }

  .videoStream, .videoStreamHidden {
    height: 50vh; /* Set video stream height to 50vh */
  }

  .toolsLayer, .chatLayer {
    width: calc(100% - 20px); /* Slightly reduce width */
    left: 10px; /* Center content horizontally */
  }
}
