/* File: styles/LeftPanel.module.css */

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Placeholder for dynamic loading */
.emptyPlaceholder {
  width: 100%;
  height: 90vh;
  display: flex;
  opacity: 0;
  visibility: hidden;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill; /* Changes from `cover` to `fill` to allow resizing */
  z-index: -2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.videoStream,
.videoStreamHidden {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.videoStreamHidden {
  display: none;
}

/* Stacked Layout Styles */
.toolsLayer {
  position: absolute;
  top: 20px;
  left: 20px;
  width: calc(100% - 40px);
  max-width: 600px;
  z-index: 2;
  display: flex;
  padding: 0px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chatLayer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: calc(100% - 40px);
  max-width: 600px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
