/* styles/RightPanel.module.css */

.rightPanel {
  flex: 1;
  padding: 0px;
  background-color: #000000;
  overflow-y: auto;
}

.searchContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  margin-bottom: 0px;
  font-size: 0.7em;
  width: 700px; /* Example fixed width */
}

.searchRowContainer {
  width: 100px; /* Fixed width */
  display: flex;
  align-items: center;
  gap: 10px;
  height: 60px; /* Fixed height */
  box-sizing: border-box; /* Ensure padding/border are included in width */
}

.searchInput {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: black;
  box-sizing: border-box;
}

.button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.searchButton {
  background-color: #0070f3;
  color: white;
}

.searchButton:hover {
  background-color: #2196f3;
  color: #ffffff;
  transform: translateY(-2px);
}

.searchButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.tedButton {
  background-color: #c20022;
  color: white;
}

.tedButton:hover {
  background-color: #eb0028;
  transform: translateY(-2px);
}

.loadingSpinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
}

.loadingSpinner {
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.errorContainer {
  margin-top: -10px;
  margin-bottom: 0px;
  text-align: center;
}

.nowPlaying {
  margin-bottom: 10px;
}

.videoFrame {
  width: 100%;
  height: 100%; /* Ensures the iframe takes full height */
  border: none; /* Remove borders */
  object-fit: fill; /* Ensures content fills the container without preserving aspect ratio */
}

.resultsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.resultItem {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #000000;
  color: white;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.resultItem:hover {
  background-color: #f1f1f1;
}

.resultLink {
  color: #2196f3;
  text-decoration: none;
  font-weight: bold;
}

.resultLink:hover {
  text-decoration: underline;
}

.sdgTags {
  color: #757575;
  font-size: 0.9em;
}

.errorText {
  color: #f44336;
  text-align: center;
}

.successMessage {
  color: #4caf50;
  text-align: center;
}

.alignLeft {
  text-align: left;
}

.scrollableContainer {
  max-height: 400px;
  overflow-y: auto;
  position: relative;
  z-index: 0;
}

.scrollableContainer::-webkit-scrollbar {
  width: 12px;
}

.scrollableContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollableContainer::-webkit-scrollbar-thumb {
  background: #2196f3;
  border-radius: 10px;
}

.scrollableContainer::-webkit-scrollbar-thumb:hover {
  background: #0070f3;
}

@media (max-width: 800px) {
  .searchContainer {
    width: 100%;
    flex-direction: column;
    align-items: stretch;
  }

  .greetingContainer,
  .searchRowContainer {
    width: 100%;
  }

  .searchRowContainer {
    gap: 5px;
  }

  .searchInput {
    padding: 8px;
  }

  .button {
    padding: 8px 12px;
  }
}
