/* File: styles/components/organisms/TalkPanel.module.css */

/* TalkPanel container styles */
.TalkPanel {
  flex: 1;
  padding: 0px;
  background-color: #000000;
  overflow-y: auto;
}

/* Search Container styles */
.searchContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Ensure elements are aligned from the start of the row */
  gap: 8px;
  padding: 8px;
  margin-bottom: 0px;
  font-size: 0.5em;
}

/* Search input wrapper */
.searchInputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align input and spinner from start */
  flex-grow: 1; /* Allow the input box to take the available space */
}

/* Search input */
.searchInput {
  flex: 1;
  font-size: 2em;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: black;
  box-sizing: border-box; /* Ensure padding/border are included in width */
}

/* Button styles */
.button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 2em; /* Set font size to match the search input */
  transition: background-color 0.3s ease, transform 0.2s ease;
  height: 54px; /* Ensure buttons have the same height as the input field */
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchButton {
  background-color: #0070f3;
  color: white;
}

.searchButton:hover {
  background-color: #2196f3;
  color: #ffffff;
  transform: translateY(-2px);
}

.searchButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.tedButton {
  background-color: #c20022;
  color: white;
}

.tedButton:hover {
  background-color: #eb0028;
  transform: translateY(-2px);
}

.shuffleButton {
  background-color: #4caf50; /* Green color for the shuffle button */
  color: white;
}

.shuffleButton:hover {
  background-color: #45a049;
  transform: translateY(-2px);
}

/* Error styling */
.errorContainer {
  margin-top: -10px;
  margin-bottom: 0px;
  text-align: center;
}

.errorText {
  color: #f44336;
  text-align: center;
}

/* Now playing and video frame */
.nowPlaying {
  width: 100%;
  border-radius: 0px;
}

.videoFrame {
  width: 100%;
  border-radius: 0px;
}

/* Scrollable container styles */
.scrollableContainer {
  overflow-y: auto;
  position: relative;
  z-index: 0;
}

/* Scrollbar styles */
.scrollableContainer::-webkit-scrollbar {
  width: 12px;
}

.scrollableContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollableContainer::-webkit-scrollbar-thumb {
  background: #2196f3;
  border-radius: 10px;
}

.scrollableContainer::-webkit-scrollbar-thumb:hover {
  background: #0070f3;
}

/* Results container */
.resultsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Responsive styles for various device sizes */

/* Desktop and large screens */
@media (min-width: 1024px) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}

/* Tablets and Mobile devices */
@media (max-width: 1023px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .searchContainer {
    width: 100%;
    flex-direction: column;
    align-items: stretch;
    gap: 5px;
  }

  .searchInput {
    padding: 0px;
    font-size: 1.5em;
    height: 40px;
  }

  .button {
    padding: 0px 0px;
    font-size: 1.5em;
    height: 20px;
  }

  .nowPlaying, .videoFrame {
    width: 100%;
    border-radius: 0px;
    }
}

/* Small wearable devices */
@media (max-width: 480px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .searchContainer {
    width: 100%;
    flex-direction: column;
    align-items: stretch;
    gap: 5px;
  }

  .searchInput {
    padding: 5px;
    font-size: 1.5em;
    height: 35px;
  }

  .button {
    padding: 0px 0px;
    font-size: 1.5em;
    height: 20px;
  }

  .nowPlaying, .videoFrame {
    width: 100%;
    border-radius: 0px;
  }
}

/* Button hover effect */
.button:hover {
  /* This can now be left blank or with a universal style that won't interfere with specific button styles */
}

/* Error text styling */
.error {
  color: red;
  font-weight: bold;
}
