/* File: styles/components/organisms/TalkPanel.module.css */

/* Ensure TalkPanel takes full space */
.TalkPanel {
  flex: 1;
  background-color: #000;
  overflow-y: auto;
}

/* Search container aligned horizontally on wide screens */
.searchContainer {
  display: flex;
  flex-wrap: wrap; /* Adjusts for smaller screens */
  gap: 10px;
  margin-bottom: 10px;
}

/* Buttons aligned horizontally on wide screens */
.buttonsContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap; /* Wraps buttons on smaller screens */
}

/* Search input styles */
.searchInput {
  flex: 1;
  padding: 10px;
  font-size: 1.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Button base styles */
.button {
  padding: 10px 15px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.searchButton {
  background-color: #0070f3;
  color: white;
}

.searchButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.shuffleButton {
  background-color: #4caf50;
  color: white;
}

.tedButton {
  background-color: #c20022;
  color: white;
}

/* Align buttons vertically on small screens */
@media (max-width: 768px) {
  .buttonsContainer {
    flex-direction: column;
    width: 100%;
  }
}
