/* File: styles/components/organisms/TalkPanel.module.css */

.TalkPanel {
  flex: 1;
  padding: 0px;
  background-color: #000000;
  overflow-y: auto;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Ensure elements are aligned from the start of the row */
  gap: 10px;
  padding: 10px;
  margin-bottom: 0px;
  font-size: 0.5em;
}

.searchRowContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  padding: 0px;
  height: 30px; /* Fixed height */
  box-sizing: border-box; /* Ensure padding/border are included in width */
}

.searchInputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align input and spinner from start */
  flex-grow: 1; /* Allow the input box to take the available space */
}

.searchInput {
  flex: 1; /* Allows the input to take available space within the fixed container */
  font-size: 2em;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: black;
  box-sizing: border-box; /* Ensure padding/border are included in width */
}

.button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 2em; /* Set font size to match the search input */
  transition: background-color 0.3s ease, transform 0.2s ease;
  height: 54; /* Ensure buttons have the same height as the input field */
  display: flex;
  align-items: center; /* Center the button text vertically */
  justify-content: center; /* Center the button text horizontally */
}

.searchButton {
  background-color: #0070f3;
  color: white;
}

.searchButton:hover {
  background-color: #2196f3;
  color: #ffffff;
  transform: translateY(-2px);
}

.searchButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.tedButton {
  background-color: #c20022;
  color: white;
}

.tedButton:hover {
  background-color: #eb0028;
  transform: translateY(-2px);
}

/* Container to keep the spinner centered */
.loadingSpinnerContainer {
  position: absolute;
  right: 10px; /* Position spinner to the right within the input */
  top: 48px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 0px;
  margin-top: -26px;
}

/* Spinner animation */
.loadingSpinner {
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite; /* The rotation animation */
  transform-origin: 50% 50%; /* Ensure it spins from the center */
}

/* Define the keyframes for the rotation */
@keyframes spin {
  0% {
    transform: rotate(0deg); /* Start position */
  }
  100% {
    transform: rotate(360deg); /* End position */
  }
}

.errorContainer {
  margin-top: -10px; /* Add spacing above */
  margin-bottom: 0px; /* Add spacing below */
  text-align: center; /* Center the text inside */
}

.nowPlaying {
  margin-bottom: 10px;
}

.videoFrame {
  border-radius: 0px;
}

.resultsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.resultItem {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #000000;
  color: white;
  transition: background-color 0.3s ease;
  cursor: pointer; /* Ensures the cursor indicates interactivity */
}

.resultItem:hover {
  background-color: #f1f1f1;
}

.resultLink {
  color: #2196f3;
  text-decoration: none;
  font-weight: bold;
}

.resultLink:hover {
  text-decoration: underline;
}

.sdgTags {
  color: #757575;
  font-size: 0.9em;
}

.errorText {
  color: #f44336;
  text-align: center;
}

.successMessage {
  color: #4caf50;
  text-align: center;
}

.alignLeft {
  text-align: left;
}

.scrollableContainer {
  max-height: 400px;
  overflow-y: auto;
  position: relative;
  z-index: 0;
}

/* Scrollbar styles */
.scrollableContainer::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

.scrollableContainer::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
}

.scrollableContainer::-webkit-scrollbar-thumb {
  background: #2196f3; /* Scrollbar color */
  border-radius: 10px; /* Rounded corners */
}

.scrollableContainer::-webkit-scrollbar-thumb:hover {
  background: #0070f3; /* Color on hover */
}

/* Responsive styles for various device sizes */
@media (max-width: 800px) {
  .searchContainer {
    width: 100%;
    flex-direction: column; /* Stack items vertically */
    align-items: stretch; /* Stretch items to fill container */
  }

  .searchRowContainer {
    width: 100%; /* Full width on smaller screens */
    gap: 5px; /* Reduced gap */
  }

  .searchInput {
    padding: 8px; /* Reduced padding */
    font-size: 1.5em; /* Adjust font size for better fit */
  }

  .button {
    padding: 8px 12px; /* Reduced padding for buttons */
    font-size: 1.5em; /* Adjust font size for better fit */
  }
}

/* Ensure buttons stack vertically on smaller screens */
@media (max-width: 500px) {
  .searchRowContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    height: 110px; /* Fixed height */
    box-sizing: border-box; /* Ensure padding/border are included in width */
  }
}
