/* styles/ChatMessage.module.css */

.messageContainer {
  display: flex;
  margin-bottom: 10px;
}

.user {
  justify-content: flex-end;
}

.bot {
  justify-content: flex-start;
}

.messageBubble {
  max-width: 70%;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  color: #000000;
}

.user .messageBubble {
  background-color: #4caf50;
  color: white;
}

.bot .messageBubble {
  background-color: #f1f0f0;
  color: #000000;
}

.interim {
  opacity: 0.6;
}
