/* styles/ChatMessages.module.css */

.messagesContainer {
  max-height: 300px;
  overflow-y: auto;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.0); /* Set translucent black background */
  ;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

.message {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.userMessage {
  align-items: flex-end;
}

.botMessage {
  align-items: flex-start;
}

.sender {
  font-weight: bold;
  margin-bottom: 2px;
}

.text {
  background-color: black;
  color: white;
  padding: 8px 12px;
  border-radius: 15px;
  max-width: 70%;
}
