/* styles/ChatMessages.module.css */

.messagesContainer {
  height: 60vh;
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
  border-radius: 5px;
  scroll-behavior: smooth; /* Smooth scrolling */
}

.message {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.userMessage .text { /* Increase specificity for user messages */
  color: #eb0028; /* User message color (red) */
  align-self: flex-end; /* Align to the right */
}

.botMessage .text {
  color: white; /* Bot message color */
  align-self: flex-start; /* Align to the left */
}

.sender {
  font-weight: bold;
  margin-bottom: 2px;
}

.text {
  background-color: black;
  color: white; /* Default color, overridden in specific user/bot styles */
  padding: 8px 12px;
  border-radius: 15px;
  max-width: 70%;
}

/* Scrollbar styles for better UI visibility */
.messagesContainer::-webkit-scrollbar {
  width: 8px; /* Chrome, Safari */
}

.messagesContainer::-webkit-scrollbar-thumb {
  background-color: #555; /* Dark gray scrollbar color */
  border-radius: 5px;
}

.messagesContainer::-webkit-scrollbar-track {
  background-color: transparent; /* Track color */
}
