/* styles/ControlButtons.module.css */

.container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.startButton {
  background-color: rgba(0, 235, 40, 0.25); /* Green */
  color: white;
}

.stopButton {
  background-color: #f44336; /* TED Red */
  background-color: rgba(235, 0, 40, 0.25);
  color: white;
}

.eraseButton {
  background-color: rgba(0, 0, 0, 0.25);
  color: black;
}

.button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
