/* styles/MiddlePanel.module.css */

.middlePanel {
  flex: 1;
  padding: 20px;
  background-color: #000000;
  overflow-y: auto;
  display: flex;
  flex-direction: column; /* Ensure components stack vertically */
}

.nowPlaying {
  margin-bottom: 20px; /* Space below the now playing section */
}

.videoFrame {
  border-radius: 10px;
}

.searchContainer {
  display: flex;
  flex-direction: column; /* Stack input and button vertically */
  margin-top: auto; /* Push the search section to the bottom */
}

.searchInputContainer {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  gap: 10px; /* Space between input and buttons */
  margin-bottom: 20px; /* Space below the search input area */
}

.searchInput {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: black;
}

.button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease; /* Added transform transition */
}

.searchButton {
  background-color: #2196f3;
  color: white;
}

.searchButton:hover {
  background-color: #1976d2; /* Change hover background color */
  color: #ffffff; 
  transform: translateY(-2px); /* Added hover effect */
}

.searchButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.tedButton {
  background-color: #eb0028;
  color: white;
}

.tedButton:hover {
  background-color: #c20022; /* Change hover background color */
  transform: translateY(-2px); /* Added hover effect */
}

.loadingSpinner {
  margin-left: 10px;
}

.resultsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between results */
}

.resultItem {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #000000;
  transition: background-color 0.3s ease;
}

.resultItem:hover {
  background-color: #f1f1f1;
}

.resultLink {
  color: #2196f3;
  text-decoration: none;
  font-weight: bold;
}

.resultLink:hover {
  text-decoration: underline;
}

.sdgTags {
  color: white;
  font-size: 1em;
}

.errorText {
  color: #f44336;
  text-align: center;
}
